@import '../../fonts/font.scss';

.primaryCategory {
  margin: 141px 0px 35px;
  position: relative;
  width: 1445px;
  display: flex;
  justify-content: space-around;
}

.primaryCategoryName {
  top: 34px;
  //top: 81px;
  position: absolute;
  z-index: -1;
}

.category {
  width: 469px;
  height: 582px;
  position: relative;
  display: flex;
  flex-direction: column;
  &:hover {
    border-radius: 5px;
    background: linear-gradient(#ffffff, #000000);
  }
}

.categoryImg {
  width: inherit;
  position: absolute;
  bottom: 0;
  img {
    width: inherit;
  }
}

.cosinessImg {
  bottom: -19px;
}

.categoryName {
  z-index: 1;
  margin-top: 94.67%;
  margin-left: 12px;
}

.categoryDescription {
  z-index: 1;
  margin-left: 12px;
  margin-top: 2%;
  h2 {
    font-family: 'Merriweather-LightIt';
    color: #ffffff;
  }
}
