@font-face {
    font-family: 'PlayfairDisplay';
    src: url('./PlayfairDisplay/PlayfairDisplay-Medium.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./Merriweather/1Merriweather-LightIt.ttf');
}