@font-face {
    font-family: 'PlayfairDisplay';
    src: url('./PlayfairDisplay/PlayfairDisplay-Medium.ttf');
}

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('./PlayfairDisplay/PlayfairDisplay-MediumItalic.ttf');
}

@font-face {
    font-family: 'PlayfairDisplay-Black';
    src: url('./PlayfairDisplay/PlayfairDisplay-Black.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./Merriweather/1Merriweather-LightIt.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./Merriweather/Merriweather-Regular.ttf');
}