@import '../../fonts/font.scss';

.primaryCurator {
  margin: 140px 0px 0px;
  position: relative;
  width: 1445px;
  display: flex;
  justify-content: space-around;
}

.primaryCuratorName {
  top: 34px;
  //top: 81px;
  position: absolute;
  z-index: -1;
  h5 {
    font-size: 330px;
  }
}

.curator {
  height: 760px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.first {
  width: 480px;
  .curatorName {
    padding-top: 79.17%;
  }
}

.second {
  width: 453px;
  .curatorName {
    padding-top: 83.885%;
  }
}

.third {
  width: 480px;
  .curatorName {
    padding-top: 79.17%;
  }
}

.curatorDescription {
  h2 {
    font-size: 24px;
  }
}

.curatorImg {
  position: absolute;
  bottom: 0;
}

.firstImg {
  left: -75px;
}

.secondImg {
  left: -90px;
}

// .cosinessImg {
//   bottom: -19px;
// }

.curatorName {
  z-index: 1;
  padding-left: 21px;
  width: 271px;
}

.curatorDescription {
  z-index: 1;
  padding-left: 21px;
  padding-top: 2%;
  h2 {
    font-family: 'Merriweather';
    color: #ffffff;
  }
}
