@import '../../fonts/font.scss';

.primaryCurator {
  position: relative;
  width: 1445px;
  display: flex;
  justify-content: space-around;
}

.primaryCuratorName {
  top: 34px;
  //top: 81px;
  position: absolute;
  z-index: -1;
}

.curator {
  width: 469px;
  height: 582px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.curatorImg {
  position: absolute;
  bottom: 0;
}

// .cosinessImg {
//   bottom: -19px;
// }

.curatorName {
  z-index: 1;
  padding-top: 94.67%;
  padding-left: 12px;
}

.curatorDescription {
  z-index: 1;
  padding-left: 12px;
  padding-top: 2%;
  h2 {
    font-family: 'Merriweather';
    color: #ffffff;
  }
}
