@import './fonts/font.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'PlayfairDisplay';
  color: #000000;
  text-decoration: none;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

h4 {
  font-size: 60px;
  color: #ffffff;
}

h5 {
  font-size: 317px;
  //font-size: 282px;
  font-family: 'Times New Roman', Times, serif;
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
}

h6 {
  font-size: 14px;
  color: #ffffff;
}

h10 {
  font-family: 'PlayfairDisplay-Regular';
  font-weight: bold;
  font-size: 25px;
}

.app {
  display: flex;
  justify-content: center;
}

button {
  background-color: #ffffff;
  padding: 0px;
  border: none;
}
::-webkit-scrollbar {
  width: 0px;
}
