.header {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 3;
  .headerBar {
    margin: auto;
    height: 140px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}
